# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hieud\OneDrive\Máy tính\Anh Liem\Project 3\Liem-cd12355-microservices-aws-kubernetes-project-starter-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
